<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mostafa_anter.capstoneproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.Manifest.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mostafa_anter.capstoneproject.ui.activity.MainActivity" />
        </activity>

        <service
            android:name=".sync.QuoteIntentService"
            android:exported="false" />
        <provider
            android:authorities="@string/content_authority"
            android:name=".data.ArticlesProvider"
            android:exported="false" />
        <service
            android:name=".sync.QuoteJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!--list (collection) widget-->
        <receiver
            android:name=".ui.widget.AtrticlesWidgetCollection">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.mostafa_anter.capstoneproject.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_list_info" />
        </receiver>
        <service android:name=".ui.widget.WidgetCollectionService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>